# Yougile credentials
YOUGILE_COMPANY_ID=a7f4328f-200d-40f5-9d6b-4ac3d050e798
YOUGILE_API_KEY=NytBRMWSeSG02B6-IDHDG7y-BZmukPzSeGGJfIRI6juNdeZu1wGyjOMkRkEQD8nV

# Для вебхуков (Yougile → Telegram) — заполнить позже
YOUGILE_WEBHOOK_SECRET=
